{% extends "base.html" %}

{% block header %}
<title>Kroppskunst.no - Om oss</title>
{% endblock %}

{% block content %}
<h1>Angre rett / Returer</h1>
<p>
    <b>Den korte versjonen</b><br />
    <ol>
        <li>Hvis du vil returnere noe. Bare returner det til adressen på bunnen av denne siden.</li>
        <li>Returner kun produkter hvor forseglingen ikke er brutt, hvis produktet ble levert forseglet.</li>
        <li>Legg ved en eller annen identifikasjon på returen, og skriv på RETUR. Pakkseddelen er helt fin å bruke.</li>
        <li>Vi aksepterer retur i 14 dager, og pengene vil innen 3 dager bli tilbakeført på samme måte som du betalte.</li>
        <li>Vennligst gi VISA/Mastercard noen dager til sin prosessering (opptil 14 dager), PayPal prosseserer med en gang.</li>
    </ol>
    
    <b>Den lange utfyllende versjonen</b><br />
    Vi følger norsk lov om angre rett og gir alle våre privatkunder rett til å angre i 14 dager.
    <br /><br />
    Noen produkter leveres med en hologram forsegling for å sikre at produktene ikke er brukt. Vennligst merk deg at vi IKKE GODTAR RETUR PÅ PRODUKTER HVOR FORSEGLINGEN ER BRUTT.
    <br /><br />
    For å kanselere ditt kjøp trenger du bare å returnere de produktene du ikke vil ha tilbake til oss innenfor 14 dager. Vennligst merk at du er ansvarlig for forsendelsen, og vi anbefaller at du pakker og sender varene på en forsvarlig måte.
    <br /><br />
    For din egen sikkerhet anbefaller vi at du sender varene sporbart om verdien på forsendelsen er høy. Vennligst merk deg at vi ikke mottar returer levert hos oss.
    <br /><br />
    Vi vil ved retur heve kjøpet for de produktene du har returnert. Vi vil også returnere relevant del av portokostnaden for prosendelsen. Vennligst merk deg at hvis du har hatt "gratis frakt" og ved returen kommer under grensen for gratis frakt, vil fraktkostnaden trekkes fra retur beløpet.
    <br /><br />
    Du kan velge mellom pengene tilbake eller en "tilgodelapp" i nettbutikken. Om du velger pengene tilbake vil pengene tilbakeføres på samme måte du betalte. Betalte du med kredittkort, tilbakeføres pengene på ditt kredittkort. (Vi trenger ikke ditt kredittkort, vennligst ikke send oss kort opplysninger. Av sikkerhetsmessige årsaker behandles alle kredittkort opplysninger av vår innløser, ettersom vi ikke lagrer dette hos oss).
    <br /><br />
    Nordiske kunder som betalte via bank overføring vil få sine penger tilbakeført dit. Når det gjelder tilbakeføringer til bank konto må du sende oss konto nummer, da vi kke lagrer dette hos oss.
    <br /><br />
    Vennligst noter klart og tydelig på returen om du ønsker gavekort eller pengene tilbake.
    <br /><br />
    Vi returnerer ikke penger fra kjøp gjort med kredittkort til bank konto, dette er ikke tillatt med den innløseravtalen vi har.
    <br /><br />
    Vennligst merk det at vi kun tilbyr retur for kreditt eller gavekort. Vi bytter ikke størrelser eller farger. Du trenger å gjøre en ny ordre for nye varer.
    <br /><br />
    For mer infoirmasjon om din rett til å angre ta kontakt med oss på support@PersonalJewelry.com.
    <br /><br />
    Retten til å angre er KUN gjeldende for våre privatkunder. Forhandlere har andre kjøpsavtaler.
    <br /><br />
    <b>Retur adresse :</b>
    <br /><br />
    Inge Moen ENK<br />
    Fransåsveien 11<br />
    NO-3475 Sætre<br />
    Norge<br />
</p>
{% endblock %}