{% extends "base.html" %}

{% block header %}
<title>Kroppskunst.no - Om oss</title>
{% endblock %}

{% block content %}
<h1>Hvordan å velge rett størrelse.</h1>
<p>
    Vi tar retur på piercing smykker, men det er ekstra arbeide for alle. Det er derfor viktig at du vet hva du
    bestiller, og at du er sikker på at dette er rett størrelse for deg.
    <br /><br />
    Piercing smykker kommer i mange design, og de navn vi bruker i vår meny er de mest vanlige. Vi oppgir ikke hvor
    piercing smykkene benyttes, da våre kunder bærer sine smykker på de underligste steder. I vår meny er piercing
    smykker listet som Banana, Barbell, Labret etc. Vi lagerfører de fleste smykker i 1.2mm og 1.6mm tykkelse (size),
    men andre størrelser finnes. Den mest vanlige feilen våre kunder gjør er å kjøpe for små smykker (korte stenger).
    Det aller beste er å ta mål av et smykke du allerede eier.
    <br /><br />
    Det er tre ting du trenger å tenke på.<br />
    Størrelsen (Size) på stangen (PIN). Størrelsen er tykkelsen på stangen. De mest vanlige størrelsene er 1.2mm eller
    1.6mm for piercing smykker, og 0.8mm eller 1.0mm for nese smykker. 1.2mm er ofte kalt Micro, som Micro Labret.
    Lengden på stangen. Den andre tingen å huske på er lengden på stangen (eller diameter på ball closure rings, spirals
    og circular barbells). Lengden er distansen mellom kulene (ball), og ikke den totale lengden av smykket. For ball
    closure rings, spirals og circular barbells er diameter den åpne distansen (mellomrommet) på ringens innerside.
    Størrelsen på kulene/smykket. De kommer i alle størrelser, fra 2mm til veldig store. Noen smykker har også en
    låsekule i egen størrelse. Vi benytter mm (millimeter) på alle mål med mindre annet er oppgitt. Det finnes litt å
    passe på med kuler. De finnes med eksterne gjenger, interne gjenger og for Ball Closure Rings (BCR) som er uten
    gjender. I tillegg til dette finnes det kuler for Push2Fit som også er uten gjenger. Externe gjenger (external
    threading) er hvor det er hull i kula, dette er det mest normale. Interne gjenger (internal threading) er hvor det
    er hull i stangen. BCR kuler har to hakk på hver side av kula slik at de kan sitte i spenn. Push2Fit kulene er som
    Internal threading men uten gjenger. Disse setter seg fast ved hjelp av vakum.
    <br /><br />
    For å finne rett størrelse på dine smykker anbefaller vi et skyvelær. Et er ekstremt vanskelig å ta mål med bare
    øynene.
    <br /><br />
    Her er en tabell over de mest vanlige størrelser. Vennligst merk deg at du ikke nødvendigvis er "vanlig".
<table>
    <tr>
        <td>Piercing</td>
        <td>Standard Tykkelse</td>
        <td>Standard Lengde/Diameter</td>
    </tr>
    <tr>
        <td>Belly / Navel Ring</td>
        <td>1.6mm</td>
        <td>8mm-10mm</td>
    </tr>
    <tr>
        <td>Nose Piercing</td>
        <td>0.8mm-1.0mm</td>
        <td>6mm-8mm</td>
    </tr>
    <tr>
        <td>Tongue Piercing</td>
        <td>1.6mm</td>
        <td>12mm-16mm</td>
    </tr>
    <tr>
        <td>Cartilage Piercing</td>
        <td>1.2mm</td>
        <td>6mm-8mm</td>
    </tr>
    <tr>
        <td>Eyebrow Piercing</td>
        <td>1.2mm</td>
        <td>8mm</td>
    </tr>
    <tr>
        <td>Industrial Barbell</td>
        <td>1.6mm </td>
        <td>32mm-38mm</td>
    </tr>
    <tr>
        <td>Labret Lip Rings</td>
        <td>1.2mm-1.6mm</td>
        <td>8mm-10mm</td>
    </tr>
    <tr>
        <td>Monroe Piercing</td>
        <td>1.2mm</td>
        <td>8mm-10mm</td>
    </tr>
    <tr>
        <td>Nipple Piercing</td>
        <td>1.6mm</td>
        <td>12mm-16mm</td>
    </tr>
    <tr>
        <td>Tragus / Helix / Rook / Conch</td>
        <td>1.2mm</td>
        <td>8mm-10mm</td>
    </tr>
    <tr>
        <td>Septum</td>
        <td>1.6mm</td>
        <td>10mm-16mm</td>
    </tr>
    <tr>
        <td>Ear</td>
        <td>0.8mm-1.0mm</td>
        <td></td>
    </tr>
</table>

</p>

{% endblock %}