{% extends "base.html" %}

{% block header %}
<title>Kroppskunst.no - Om oss</title>
{% endblock %}

{% block content %}
<h1>Våre vilkår</h1>
<p>
    <b>Ordre</b><br>
    Alle ordre skal plasseres i nettbutikken. Vi har desverre ikke mulighet til å motta ordre på telefon, e-post eller
    fax. Etter at ordren er plassert vil du motta en produkt reservasjon pr. e-post. Vennligst mer deg at dette er kun
    en reservasjon, ikke en kvittering. Produktene er nå reservert i 2 klokketimer for at du skal kunne velge din
    prefererte måte å betale på.
    <br /><br />
    <b>Valutta</b><br>
    Våre produkter er solgt i lokal valutta for kjøperen. Valutta er valgt på grunnlag av hvor varene skal sendes. For
    våre skandinaviske kunder og kunder fra Storbritania tilbyr vi lokal valutta. Produkter selges i NOK til Norge, SEK
    til Sverige, DKK til Danmark, og GBP til Storbritania. Alle andre land håndteres i EUR. Vennligst merk at våre
    priser i NOK inkluderer MVA. Alle andre priser er ex. norsk mva og ex alle lokale skatter og avgifter for kjøperen.
    <br /><br />
    <b>Betaling</b><br>
    Vi tilbyr et bredt spekter av betalingsoppsjoner med kredittkort. Kunder i Norge, Sverige og Danmark kan også betale
    i forskudd inn på lokal konto i de respektive land. Vennligst merk deg at betaling via bank forsinker
    vareutsendeslen med 1 til 4 dager. Du vil motta en e-post som bekrefter betalingen, etter at betalingen er bekretet
    av vår innløser eller vår økonomiavdeling. Vi tilbyr ikke betaling via faktura eller post oppkrav. Ikke en gang for
    deg. Vi har forsøkt dette tidligere, men for mange valgte å ikke hente pakken på postkontoret og betalte ikke i
    tide. Disse betalingsoppsjonene ble for dyre for oss, og vi besluttet å fjerne dem. De fleste av våre ordre er
    ganske små, og vi tro at de som ikke har pengene nå, sikkert ikke har dem når forfall kommer uansett.
    <br /><br />
    <b>Levering</b><br>
    Alle produkter du kan bestille i nettbutikken er på lager i Norge. Alle ordre er normalt pakket og sendt innen 48
    klokketimer (2 arbeidsdager) etter at betaling er mottatt. Vennligst merk deg at Posten henter våre forsendelser kl
    14.00 norsk tid (CET). Produktene er normalt våre Norske kunder i hende neste virkedag eller dagen etter. Våre
    Europeiske kunder vil normalt ha varene i løpet av 2 til 5 arbeidsdager. Resten av verden vil avhenge av
    postforbindelsen til Norge. Alle forsendelser gjøres med A-Post (Luftpost).
</p>
{% endblock %}