{% extends "base.html" %}

{% block header %}
<title>Kroppskunst.no - Om oss</title>
{% endblock %}

{% block content %}
<h1>Om Kroppskunst.no</h1>
<p>
    Vårt juridiske navn er :<br /><br />
    Inge Moen ENK<br />
    Fransåsveien 11<br />
    3475 Sætre<br />
    Norway<br />
    <br />
    Vi er registrert i Brønnøysund Registerene med organisasjonsnummeret "977 382 475 MVA".<br />
    <br />
    Vennligst les Vanlige Spørsmål før du sender oss en e-post. Ved å lese Vanlige Spørsmål kan du finne svaret med en
    gang.<br />
    <br />
    Hvis du ikke finner svaret på Vanlige Spørsmål send oss en e-post på support (at] kroppskunst.no<br />
    <br />
    Vi har desverre ikke betjent telefon, det er ikke mulig å opprettholde våre priser med telefonsupport i Norge.<br />
</p>
{% endblock %}