{% extends "base.html" %}
<title>Kroppskunst.no</title>
{% block header %}
<style>
    .card-title {
        text-align: center;
        overflow: hidden;
        height: 7rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1rem;
        margin: 0;
    }

    .card-title1 {
        font-size: 1rem;
        font-weight: bold;
        color: #d32930;
    }

    .card-title2 {
        font-size: 0.8rem;
        font-weight: normal;
        color: black;
    }

    .card-image {
        height: 15rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: hidden;
        align-self: center;

    }

    .card-image img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .card-button {
        width: 100%;
    }
</style>


{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card">
            <div class="card-title">
                <span class="card-title1">{{ product.producttext }}</span><br/>
                <span class="card-title2">({{ product.producttext2 }}) </span>
            </div>
            <div class="card-image">
                <img src="https://img.kroppskunst.no/images/products/{{ product.Picture }}" class="card-img-top"
                    alt="...">
            </div>
            <div class="card-body">
                <p class="card-text"><button type="button" class="btn btn-primary card-button">fra {{
                        "%.2f"|format(product.Price) }} {{ product.DisplayCurrency }}</button></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}